<!-- Sidebar Holder -->
<nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sankar</h3>
            <em>Full Stack Developer</em>
        </div>

        <ul class="list-unstyled components">
            <img src="../../../assets/images/profile.jpeg" alt="profile" style = "width: 50%; height: 50%; margin-left: 50px; margin-bottom: 10px">
            <!-- <li>
                <a [routerLink]="['/home']"  routerLinkActive="active">Home</a>
            </li> -->
            <li>
                <a [routerLink]="['/about']" routerLinkActive="active" >About</a>
            </li>
            <li>
                <a  [routerLink]="['/services']" routerLinkActive="active">Services</a>
            </li>
            <li>
                <a  [routerLink]="['/skills']" routerLinkActive="active">Skills</a>
            </li>
            <li >
                <a  [routerLink]="['/education']" routerLinkActive="active">Education</a>
            </li>
            <li>
                <a  [routerLink]="['/experience']" routerLinkActive="active">Experience</a>
            </li>
            <li>
                <a  [routerLink]="['/work']" routerLinkActive="active">Work</a>
            </li>
            <li>
                <a  [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download CV</a>
            </li>
        </ul>
    </nav>